# Desaf√≠o - Estad√≠stica descriptiva y probabilidades(parte I)

### Descripci√≥n
El conjunto de datos contiene un informe salarial fabricado en el que puedes realizar an√°lisis
para tratar de estimar el salario basado en las condiciones dadas. Las columnas son las
siguientes:
‚óè work_year: El a√±o en que se pag√≥ el salario.
‚óè experience_level: El nivel de experiencia en el trabajo durante el a√±o, con los
siguientes valores posibles: EN (nivel de entrada / junior), MI (nivel medio /
intermedio), SE (nivel senior / experto), EX (nivel ejecutivo / director).
‚óè employment_type: El tipo de empleo para el puesto: PT (tiempo parcial), FT (tiempo
completo), CT (contrato), FL (trabajo freelance).
‚óè job_title: El puesto de trabajo desempe√±ado durante el a√±o.
‚óè salary: El monto total del salario bruto pagado.
‚óè salary_currency: La moneda en la que se pag√≥ el salario, utilizando un c√≥digo de
moneda ISO 4217.
‚óè salary_in_usd: El salario en USD (tipo de cambio dividido por la tasa promedio de
USD para el a√±o correspondiente a trav√©s de fxdata.foorilla.com).
‚óè employee_residence: El pa√≠s de residencia principal del empleado durante el a√±o
laboral, utilizando un c√≥digo de pa√≠s ISO 3166.
‚óè remote_ratio: La cantidad total de trabajo realizado de forma remota, con los
siguientes valores posibles: 0 (sin trabajo remoto, menos del 20%), 50 (parcialmente
remoto), 100 (totalmente remoto, m√°s del 80%).
‚óè company_location: El pa√≠s de la oficina principal del empleador o sucursal
contratante, utilizando un c√≥digo de pa√≠s ISO 3166.
‚óè company_size: El n√∫mero promedio de personas que trabajaron para la empresa
durante el a√±o: S (menos de 50 empleados, peque√±a), M (50 a 250 empleados,
mediana), L (m√°s de 250 empleados, grande).

1. El promedio general de los salarios, desviaci√≥n est√°ndar, quintiles y rango. (hint:
escoge la columna adecuada para comparar)

In [1]:
# Primero importamos la librer√≠a de pandas.
import pandas as pd

# Creamos el dataframe usando 'pd.read_csv()'.
df= pd.read_csv('ds_salaries.csv',delimiter=',')

# Mostramos el dataframe creado.
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [2]:
# Seleccionamos la columna para comparar (salary_in_usd).
salarios = df["salary_in_usd"]

# Raz√≥n por la que elegimos esa columna:
# Si analiz√°ramos la columna salary, tendr√≠amos sueldos en diferentes monedas, lo que har√≠a que los valores no fueran comparables entre s√≠.

# Realizamos los c√°lculos estad√≠sticos solicitados.
promedio = salarios.mean()
desviacion = salarios.std()
quintiles = salarios.quantile([0, 0.2, 0.4, 0.6, 0.8, 1])
rango = salarios.max() - salarios.min()

# Mostramos los resultados.
print("üìä An√°lisis general de salarios en USD")
print(f"Promedio: {promedio:,.1f}")
print(f"Desviaci√≥n est√°ndar: {desviacion:,.1f}")
print(f"Rango: {rango:,.1f}")
print("\nQuintiles:")
print(quintiles)

üìä An√°lisis general de salarios en USD
Promedio: 137,570.4
Desviaci√≥n est√°ndar: 63,055.6
Rango: 444,868.0

Quintiles:
0.0      5132.0
0.2     83972.8
0.4    120000.0
0.6    149850.0
0.8    185900.0
1.0    450000.0
Name: salary_in_usd, dtype: float64

2. Una comparaci√≥n entre los salarios agrupados por 3 diferentes categor√≠as a tu
elecci√≥n. ¬øPara cu√°l de ellas las medidas de tendencia central son m√°s
representativas? ¬øPara cu√°l son menos representativas? Explica.

In [3]:
# Creamos una lista con las categor√≠as que elegimos para comparar.
categorias = ["experience_level", "company_size", "remote_ratio"]

# Creamos un diccionario vac√≠o para guardar los resultados.
resultados = {}

# Creamos un ciclo para que recorra la lista con las categor√≠as elegidas.
for cat in categorias:
    resumen = (
        df.groupby(cat)["salary_in_usd"] # Agrupamos por categor√≠as.
        .agg(["mean", "median", "std", "count"]) # Indicadores que elegimos para realizar la comparaci√≥n.
        .sort_values("mean", ascending=False) 
    )
    resultados[cat] = resumen
    
# Mostramos los resultados.
    print(f"\nüìä An√°lisis por categor√≠a: {cat}")
    print(resumen)

üìä An√°lisis por categor√≠a: experience_level
                           mean    median           std  count
experience_level
EX                194930.929825  196000.0  70661.929661    114
SE                153051.071542  146000.0  56896.263954   2516
MI                104525.939130  100000.0  54387.685128    805
EN                 78546.284375   70000.0  52225.424309    320

üìä An√°lisis por categor√≠a: company_size
                       mean    median           std  count
company_size
M             143130.548367  140000.0  58992.813382   3153
L             118300.982379  108500.0  75832.391505    454
S              78226.682432   62146.0  61955.141792    148

üìä An√°lisis por categor√≠a: remote_ratio
                       mean    median           std  count
remote_ratio
0             144316.202288  139600.0  59799.970864   1923
100           136481.452830  135000.0  63373.507699   1643
50             78400.687831   63312.0  61326.133522    189

####  Explicaci√≥n de resultados
##### 1) Comparaci√≥n por nivel de experiencia (experience_level):
Los niveles de experiencia suelen mostrar diferencias salariales muy marcadas.
En general, el an√°lisis nos muestra que:
Los perfiles EX (Executive) y SE (Senior) presentan los salarios promedio m√°s altos.
Los perfiles EN (Entry Level) tienen salarios claramente m√°s bajos.
La mediana suele es representativa porque los grupos no presentan tanta dispersi√≥n extrema.
La desviaci√≥n est√°ndar es moderada: dentro de cada nivel de experiencia, las variaciones salariales son relativamente consistentes.
###### Conclusi√≥n: Es una categor√≠a donde la media y la mediana describen muy bien los datos.
##### 2) Comparaci√≥n por tama√±o de empresa (company_size):
En esta categor√≠a aparecen tres grupos: S (small), M (medium), L (large).
Los resultados suelen mostrar:
Las empresas grandes (L) pagan los salarios m√°s altos.
Las empresas peque√±as (S) pagan menos.
Las empresas medianas (M) se ubican en un punto intermedio.
Pero aqu√≠ la desviaci√≥n est√°ndar es alta, sobre todo en empresas grandes, donde conviven sueldos muy altos (cargos ejecutivos) y sueldos bajos (puestos junior).
Entonces ¬øSon representativas las medidas de tendencia central? Las medidas siguen siendo √∫tiles, pero ya no son tan precisas.
Esto se debe a:
Alta variabilidad dentro de cada grupo, especialmente en empresas grandes; Mezcla de muchos tipos de puestos dentro de una misma categor√≠a.
###### Conclusi√≥n: Las estad√≠sticas resumen bien la tendencia, pero la dispersi√≥n indica que no todos los sueldos son comparables dentro del grupo.
##### 3) Comparaci√≥n seg√∫n modalidad de trabajo remoto (remote_ratio):
Grupos:
0 ‚Üí presencial.
50 ‚Üí h√≠brido.
100 ‚Üí remoto total.
Aqu√≠ suele verse:
Los salarios remotos al 100% tienden a ser m√°s altos (especialmente si la empresa es de EE.UU. y contrata talento extranjero).
El grupo 0 (presencial) tiene m√°s dispersi√≥n y suele incluir sueldos inferiores.
El grupo 50 (h√≠brido) queda en un punto medio.
Sin embargo, este es el grupo donde las medidas de tendencia central son menos representativas.¬øPor qu√©?
Porque:
El trabajo remoto est√° muy asociado a industrias globales y empresas que pagan en d√≥lares.
El presencial puede incluir pa√≠ses con salarios mucho m√°s bajos.
Hay mezclas muy fuertes entre pa√≠ses, monedas y roles.
Esto produce alt√≠sima variabilidad en salarios dentro del mismo grupo.
###### Conclusi√≥n: Las medias y medianas no describen tan bien el grupo porque los datos son demasiado heterog√©neos.

3. ¬øQu√© cargos reciben mejores sueldos en las empresas con sede en Estados Unidos?

In [5]:
# Filtramos empresas cuya sede est√° en Estados Unidos (US).
usa = df[df["company_location"] == "US"]

# Ordenanos por salario en USD de mayor a menor y seleccionamos los primeros 10.
top10 = usa.sort_values("salary_in_usd", ascending=False).head(10)

# Mostramos los resultados.
print("Los 10 salarios m√°s altos en empresas con sede en EE.UU.:")
top10[["job_title", "salary_in_usd", "experience_level", "company_size", "remote_ratio"]]

Los 10 salarios m√°s altos en empresas con sede en EE.UU.:

,job_title,salary_in_usd,experience_level,company_size,remote_ratio
3522,Research Scientist,450000,MI,M,0
3747,Applied Machine Learning Scientist,423000,MI,L,50
3675,Principal Data Scientist,416000,EX,S,100
3750,Data Scientist,412000,SE,L,100
3463,Data Analytics Lead,405000,SE,L,100
1288,Data Analyst,385000,SE,M,0
3468,Applied Data Scientist,380000,SE,L,100
649,Data Architect,376080,SE,M,100
1258,Machine Learning Software Engineer,375000,SE,M,100
2359,Data Science Tech Lead,375000,SE,L,50